{
	"useTabs": true,
	"singleQuote": true,
	"semi": false,
	"trailingComma": "all",
	"printWidth": 100,
	"overrides": [
		{
			"files": [".prettierrc", ".lintstagedrc", ".commitlintrc"],
			"options": { "parser": "json" }
		}
	]
}
